*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box
}
html,
body {
  height: 100%;
  width: 1020px;

  font-family: "Inter", sans-serif;
}
a {text-decoration: none;}
ul, li {list-style: none;}

/* Header */
.header {
  display: flex;
  align-items: center;
  background-color: #fff;
}
.logo {
  margin-left: 30px;
  margin-top: 19px;
  margin-bottom: 19px;
  margin-right: 850px;
}
.logo:hover {
  opacity: 0.8;
}
.header__list {
  display: flex;
  align-items: center;

  width: 276px;
}
.header__link {
  padding-top: 11px;
  padding-bottom: 11px;

  font-size: 16px;
  font-weight: 100;
  font-family: "Inter", sans-serif;

  line-height: 20px;
  color: #000;

  margin-right: 15px;
}
.header__link:nth-of-type(4) {
  margin-right: 0;
}
.header__link:hover {
  opacity: .7;
  text-decoration: underline;
}

/* Content */
.content {
  width: 1020px;
  height: 550px;

  background-color: #fff;

  display: flex;
  align-items: center;

  margin: 0;
}
.content__text {
  width: 393px;
  height: 135px;

  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  margin-left: 30px;
  margin-right: 665px;
}
.content__text span {
  font-size: 56px;
  font-weight: 100;

  line-height: 67px;
  text-align: center;
}
.content__img {
  width: 313px;
  height: 424px;
}

/* Main */
.main {
  width: 1020px;

  margin-bottom: 140px;
}
.main__heading {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 100;

  line-height: 58px;

  text-align: center;

  margin-left: 403px;
  margin-right: 119px;
}
.main__imgs {
  position: relative;
  text-align: center;

  top: 44px;
  left: 165px;
}
.main-img__1 {
  margin-right: 180px;
}
.main-img__2 {
  margin-right: 180px;
}
.main-img__3 {

}
.main-img__4 {
  margin-right: 180px;

  position: relative;
  top: 30px;
}
.main-img__5 {
  position: relative;
  top: 30px;
}

/* About */
.about {
  width: 1020px;
  background-color: #fff;
}
.about__heading {
  margin: 50px 0px 40px 385px;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  width: 534px;
  height: 57px;
  font-weight: 100;
  font-family: "Inter", sans-serif;
}
.about-course__1 {
  width: 504px;

  margin-left: 80px;
}
.about-course__1 img{
  width: 163px;
  height: 65px;

  margin-right: 30px;
}
.about-course__1 p {
  display: inline-block;

  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  text-align: center;

  position: relative;
  top: -25px;
}
.about-course__2 {
  margin-left: 80px;
}
.about-course__2 p{
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
}
.about-course__3 {
  margin-left: 80px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
}

/* Links */
.link {
  margin-top: 89px;
  margin-left: 80px;
}
.link-heaing {
  font-size: 36px;
  color: #000;
  line-height: 30px;
  font-weight: 100;

  margin-bottom: 18px;
}
.link a{
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
}
.footer {
  width: 1349px;
  margin-top: 41px;

  background-color: #333;
  padding: 15px;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  text-align: center;
}